@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Silkscreen&display=swap");
/*font-family: 'DotGothic16', sans-serif;
font-family: 'VT323', monospace;*/
body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  font-family: "DotGothic16", sans-serif;
}
.center_container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 64px;
  font-weight: normal;
  letter-spacing: 8px;
  margin-bottom: 20px;
  font-family: "Silkscreen", cursive;
}

textarea {
  max-width: 800px;
  width: 90%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  resize: none;
  margin-bottom: 32px;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 4px;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}
