body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

textarea {
  max-width: 800px;
  width: 50%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  resize: vertical;
  margin-bottom: 32px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Aggiungi ulteriori regole CSS per personalizzare il tuo stile cybernatico */
